/* styles.css */

a {
	color: #669999;
}

a:visited {
	color: #669999;
}

a:hover {
	color: #669999;
}

a:active {
	color: #669999;
}

body {
	background-color: #000;
	color: #FFFFFF;
	font-family: monospace;
}

.terminal {
	padding: 20px;
	white-space: pre; /* 공백과 줄바꿈을 유지 */
}
